@import "/css/normalize.css";
@import "/css/skeleton.css";
@import "/css/app.css";

* {box-sizing:border-box;}

body {
    margin: 20px;
  }

.xsd2html2xml input[type=text] {
/* form input[type="text"] { */
    padding:5px;
    width: 60%;
    margin: 0;
    font-weight: normal;
    font-size:medium;
}

.xsd2html2xml input[data-xsd2html2xml-description=filename] {
    pointer-events: none;
    background-color: #FFC0CB;
}

.xsd2html2xml textarea {
    /* height: 100px; */
    /* overflow-wrap: break-word; */
    width: 60%;
    font-weight: normal;
    font-size:medium;
    overflow-y: scroll;
}

.xsd2html2xml select {
    font-weight: normal;
    font-size:medium;
}

.xsd2html2xml button {
    padding: 0 15px;
    background-color: #aed68a;
}

.xsd2html2xml button.remove {
    margin: 0 0 0 10px;
}

.xsd2html2xml button[type='submit']:before {
    content: "UPLOAD";
    padding: auto;
    margin: 0;
}

/* Style for form control buttons */
.xsd2html2xml .form-button {
    display: inline-block; /* Use inline-block for proper width adjustment */
    background-color: #689f38;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: auto; /* Adjust padding for better fit */
    margin: 10px; /* Adjust margin for spacing */
    cursor: pointer;
}

/* hover effect for form control buttons*/
.xsd2html2xml .form-button:hover {
    background-color: #5a8c2a;
}

.xsd2html2xml fieldset[data-xsd2html2xml-name=part] {
    border-style: solid;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

/* GitHub page styles */
.button {
    padding: 0 15px;
    background-color: #aed68a;
}

#passcode-label, #imageupload-label {
    background-color: #689f38;
    color:#fff;
}

input#passcode, input#imageupload {
    width: 100%;
}

#popup { 
    border: solid;
    border-color: #689f38;

    font-weight:600;
    border-radius:5px;


    width:50%;
    height:auto;
    padding:20px;
    margin: 30px;
    position:absolute;
    top:100px;
    left:100px;
    display:block;
}

#commit {
    display: none;
}


