*{box-sizing:border-box}
html,body{height:100%;scroll-behavior:smooth}
body{display:flex;flex-direction:column;flex-wrap:nowrap}

/* CSS Loader #11 by Nitin - https://codepen.io/Nitin-Chandran-Nair/full/jmQgWW */
.loader {margin:0 auto;height: 20px;width: 20px;animation: shine 970ms ease infinite;transform: rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
@keyframes shine { 50% {outline-width: 7px} 100% {outline-color: white;outline-width: 7px} }
@-webkit-keyframes shine { 50% {outline-width: 7px} 100% {outline-color: white;outline-width: 7px} }
@-moz-keyframes shine { 50% {outline-width: 7px} 100% {outline-color: white;outline-width: 7px} }
@-o-keyframes shine { 50% {outline-width: 7px} 100% {outline-color: white;outline-width: 7px} }

/* Theme color */
body{background-color:whitesmoke;color:black}
.brand,.heading{color:#689f38; text-decoration: none}
.button:hover{background-color:#689f38}
.loader{outline: 0 solid #689f38}

/* images and icons */
img {image-orientation: from-image;}

/* Scroll to Top & Back buttons */
/* section#landing .back,section#random .back,section#latest .back{top:-60px}
section#mealCardsSection .back{top:0} */



/* Button */
.button{font-weight:bold;font-size:13px;border:1px solid black}
.button:hover{transition:all 500ms ease;color:white}
.button,.card{box-shadow: 2px 6px 15px rgba(0,0,0,0.1)}

/* Meal Cards */
.card{border-radius:7px;margin:10px}
.card img{width:100%; cursor:pointer;}
.card img:hover{opacity: 0.3}
.card-body{padding:5px 15px; text-align: center;}
.cardTitle{margin-bottom:5px;}
.mealCardRecipeBtn{display: inline;}

.cardTags {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
}

.cardTags p {
    margin: 0;
}

.cardTags a {
    text-decoration: none;
    color: #007bff;
}


div#cardActions {margin: 10px 0px;}
img.cardAction {width:15%; cursor:pointer; margin-left: 5px; margin-right: 10px;}
img.cardAction:hover {background-color: #689f38}





/* Chef icon */
.chefimg{position:absolute;height:39px;width:39px;transform:rotate(32deg);-webkit-transform:rotate(32deg);-moz-transform:rotate(32deg);-o-transform:rotate(32deg)}

/* Flex */
.d-flex{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:middle}

/* Random Recipe button alignment */
#landing .row:first-child{display: flex; align-items: center;} 
section#landing .row .chefimg{top:26px; left:160px; position: relative;}

/* Heading */
.heading{text-transform:uppercase;
    font-size:30px;
    font-weight:bold;
    font-family:'Roboto Slab', serif;
    transform:rotate(-5deg);-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-o-transform:rotate(-5deg);
    text-align:left;
    margin-bottom:0
}

h1.brand{
    text-transform:uppercase;
    transform: none;
    margin: 0;
}

/* Search prompts and Tips on home page */
.info-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-icon {
    /* background-color: #007bff; */
    /* color: white; */
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block; /* Ensure it displays as expected */
    text-align: center;
}

/* Ensure popup is positioned correctly */
.info-popup {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    text-align: center;
    z-index: 1000; /* Ensure it's above other elements */
    white-space: nowrap; /* Prevent line breaks for smaller content */
    transform: translateX(-50%); /* Center horizontally */
}

/* Arrow pointing upwards */
.info-popup::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Position the arrow below the popup */
    left: 10%;
    /* transform: translateX(-50%); */
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; /* Arrow pointing upwards */
}

/* Hover styles for desktop */
@media (min-width: 769px) {
    .info-container:hover .info-popup {
        display: block;
        bottom: 125%; /* Position it above the icon */
        left: 10%;
        /* transform: translate(-50%, -10px); Adjust the position above the icon */
    }
}

/* Touch-specific styles for mobile */
@media (max-width: 768px), (hover: none) and (pointer: coarse) {
    .info-container.active .info-popup {
        display: block;
        position: fixed; /* Use fixed positioning for mobile */
        top: auto; /* Remove top alignment */
        bottom: 20%; /* Adjust to position above the finger */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -60px); /* Offset to center and above */
        width: 80%; /* Adjust width for mobile view */
    }

    .info-popup::after {
        display: none; /* Hide the arrow on mobile */
    }
}


/* Meal Metadata and Image section */
.mealMetadata ul {margin:0}
.mealMetadata ul li {margin:0}

.row.mealMetadata {display: flex; align-items: centre;}
.mealMetadata {height: 100%; margin-top: auto; margin-bottom: auto;}
.mealMetadata p {margin-bottom: 0;}
.mealMetadata span,.mealInstructions span{width: 60%; margin-right:20px;font-weight:bold;text-transform:uppercase}

#mealImgContainer {margin: 0 auto; text-align: center;}
#mealImg {width:100%; border-radius:100%;}
#mealActions {width: 100%; margin: 0 auto; text-align: center;}

div.cardActions > a {text-decoration-line: none;}


/* Recipe Ingredients */
h2.ingredients {
    margin-right:20px;
    margin-bottom:0px;
    font-weight:bold;
    text-transform:uppercase;
    font-size: 1.1em;
    line-height: 1.6;
}

.ingredients ul {
    padding-left: 0;
    margin-bottom: 0;
}

.ingredients ul li {
    padding-left: 1.7em; /* Add padding to create space for the bullets */
    text-indent: -1.5em; /* Pull the first line back to align with the bullet */
    line-height: 1em; /* tight line spacing within a bullet */
    margin-bottom: 0.5em; /* space between bullets */
}

/* Recipe Instructions */
h2.instructions {
    margin-right:20px;
    margin-bottom:0px;
    font-weight:bold;
    text-transform:uppercase;
    font-size: 1.1em;
    line-height: 1.6;
}

ol.recipe-steps {
    counter-reset: step-counter;
    list-style-type: none;
}

ol.recipe-steps li {
    margin: 0;
    position: relative;
    padding-left: 4em;
    text-indent: 0em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

ol.recipe-steps li::before {
    counter-increment: step-counter;
    content: "Step " counter(step-counter) ": ";
    font-weight: bold;
    position: absolute;
    left: 0;
}

ol.recipe-steps li p {
    margin: 0;
    padding: 0;
    text-indent: 1.5em;
}

/* Nav */
ul.navbar-list {text-align: right;}
.navbar{padding:10px 0; position:relative}
.navbar .columns{height:33px}
.navbar .nine.columns{padding-top:4px}
#navbar-list{display:inline; position:absolute; bottom:0; right:0}
.navbar a.icon {color:#679f38; display:none; position:absolute; right:20px; top:5px;}
#NavBarCategory {display: inline;}
section#landing a.categoryIcon {color:#679f38; display:none; position:absolute; right:20px; top:5px;}

.navbar {display: block;width: 100%;background:whitesmoke;z-index: 99;border-top: 1px solid #eee;border-bottom: 1px solid #eee}
.navbar-list {list-style:none;margin-bottom: 0}
.navbar-item {position:relative;display:inline}
.navbar-link {text-transform: uppercase;font-size: 11px;font-weight: 600;letter-spacing: .2rem;margin-right: 35px;text-decoration: none;color:black}
.navbar-link-category {text-transform: uppercase;font-size: 10px;font-weight: 600;letter-spacing: .2rem;margin-right: 10px;text-decoration: none;color:black}





/* Section */
section{margin-top:5vh; height:auto}
section#landing{display:flex;flex-direction:row;align-items:center}
section#landing .chefimg{top:-20px;right:-3px}
section#random .chefimg{top:5px;right:-14px}
section#random, section#mealCardsSection {padding: 0 0 5vh 0}
section#mealCardsSection .chefimg{top:-20px;right:22px}

/* Footer */
footer{bottom:0;text-align:center; margin-top:50px}

/* Others */
a{cursor:pointer}
.brand{font-size:2rem;font-weight:bold}
a.brand:hover,a.brand:focus{color:black}
main{justify-content:center;align-items:center}
#userInput{font-weight:bold}


/* Media queries */
@media (min-width: 750px) {
    /* .navbar {display: block;width: 100%;background:whitesmoke;z-index: 99;border-top: 1px solid #eee;border-bottom: 1px solid #eee}
    .navbar-list {list-style:none;margin-bottom: 0}
    .navbar-item {position:relative;display:inline}
    .navbar-link {text-transform: uppercase;font-size: 11px;font-weight: 600;letter-spacing: .2rem;margin-right: 35px;text-decoration: none;color:black}
    .navbar-link-category {text-transform: uppercase;font-size: 10px;font-weight: 600;letter-spacing: .2rem;margin-right: 10px;text-decoration: none;color:black} */
}

#navList{list-style:none;margin-bottom:0;display:flex;justify-content:space-evenly;}
#navBar{position:fixed;padding:7px;display:flex;justify-content:space-evenly;width:100%;background:#f5f5f5;z-index:99;border-top:1px solid #eee;border-bottom:1px solid #eee}
#navItem{position:relative;display:inline; cursor: pointer;}
#navLink{text-transform:uppercase;font-size:2vw;font-weight:600;letter-spacing:.2rem;text-decoration:none;color:#000}
.button:hover{background-color:#689f38}
.goTop{text-align:right;position:fixed;right:20px;bottom:20px}
.goBack{text-align:right;position:fixed;right:20px;top:20px}
.button:hover{transition:all .5s ease;color:#fff}
.chefimg{height:39px;width:39px;transform:rotate(32deg);-webkit-transform:rotate(32deg);-moz-transform:rotate(32deg);-o-transform:rotate(32deg)}
/* #about-section{height:80vh;padding-top:20vh;} */
/* #about-section{height:80vh;padding-top:0;} */
.brand{font-size:5vw;font-weight:700}
/* .brand:focus,.brand:hover,.brand:visited{color:#000} */

#errorMessageContainer{display: none; background: #679f38; text-align: center;height: 100px; color: white; justify-content: center; align-items: center;}
#errorMessageText{line-height: 100px; padding: 0px; margin: 0 40px 0 0;}
#errorMessageBtn{margin: 0px; color: white; border: 1px solid white;}


/* MEDIA QUERIES */

/* large screens */
@media (min-width: 750px) {
}

/* phablet and above */
@media (min-width:440px){
    .brand{font-size:3vw;}
    .navbar-link{font-size:1.5vw}
}

/* below the CSS grid start size */
@media (max-width: 750px) {
    /* scal branding and remove rotation */
    .heading{margin:0px; width:100%; font-size:4vw; text-align:left; transform:rotate(0deg);}
    .eight.columns.randomSearch {display:none;}
    /* .four.columns.randomSearch {width: 100%; display: block;} */
    .four.columns.randomSearch > a {display: block;}
    #NavBarCategory > a {text-decoration-line: none;}
    /* dont bother with random search.  can use Hamburger menu */
    /* .randomSearch{display:none} */
    /* display the hambuger mnav menu and hide full nav links */
    /* #navbar-list{display:none; position:relative;} */
    /* .navbar a.icon{display:block;} */
    /* #NavBarCategory {display: none;} */
    /* section#landing a.categoryIcon {display:block; margin-top:10px} */

    /* address some container layout */
    section#landing{display: inline-block; height:auto}
    section#landing > .container{margin-top:0}
    /* meal card section - create space on right for scroll button */
    section#mealCardsSection > .container{padding: 0 10px}
    /* scroll to top button */
    /* .back{right:10px} */

    .cards.four.columns {width:50%}
    .card-body {padding:0;}
}


