@import "/css/normalize.css";
@import "/css/skeleton.css";
@import "/css/common.css";

* {box-sizing:border-box;}

body {
    margin: 20px;
  }

.xsd2html2xml input[type=text] {
/* form input[type="text"] { */
    padding:5px;
    width: 60%;
    margin: 0;
    font-weight: normal;
    font-size:medium;
}

/* highlight that this field should not be edited. Cannot rpevent with CSS */
.xsd2html2xml input[data-xsd2html2xml-description=filename] {
    background-color: #FFC0CB;
    pointer-events: none; /* Disables mouse interactions */
    user-select: none;    /* Prevents text selection */
    cursor: not-allowed;
}

/* highlight that this field should not be edited. Cannot rpevent with CSS */
.xsd2html2xml input[data-xsd2html2xml-description=thumbnail] {
    background-color: #FFC0CB;
    pointer-events: none; /* Disables mouse interactions */
    user-select: none;    /* Prevents text selection */
    cursor: not-allowed;
}

.xsd2html2xml textarea {
    /* height: 100px; */
    /* overflow-wrap: break-word; */
    width: 60%;
    font-weight: normal;
    font-size:medium;
    overflow-y: scroll;
}

.xsd2html2xml select {
    font-weight: normal;
    font-size:medium;
}

.xsd2html2xml button {
    padding: 0 15px;
    background-color: #aed68a;
}

.xsd2html2xml button.remove {
    margin: 0 0 0 10px;
}

.xsd2html2xml button[type='submit']:before {
    content: "";
    padding: auto;
    margin: 0;
}

/* Style for form control buttons */
.xsd2html2xml .form-button {
    display: inline-block; /* Use inline-block for proper width adjustment */
    background-color: #689f38;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: auto; /* Adjust padding for better fit */
    margin: 10px; /* Adjust margin for spacing */
    cursor: pointer;
}

/* hover effect for form control buttons*/
.xsd2html2xml .form-button:hover {
    background-color: #5a8c2a;
}

.xsd2html2xml fieldset[data-xsd2html2xml-name=part] {
    border-style: solid;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

#token {display: none;}

/* animate the spinner for page upload */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none; /* Default hidden */
}

#loading-spinner img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-spinner p {
    text-align: center;
    font-size: 16px;
    color: #333;
}


