# ignore ALL files in ANY directory named ...
fb_files/
fb_recipes/

# backup recipes pre Step expansion and pretty formatting
recipes copy/ 

.vscode/

# ignore these files
*.bak
app.js
# template.xml
recipes-missing-images.txt
images-missing-recipes.txt
update-recipeindex.py
.DS_Store
