# ignore ALL files in ANY directory named ...
.vscode/
.venv/

# backup recipes pre Step expansion and pretty formatting
recipes copy/ 



# ignore these files
*.bak
recipes-missing-images.txt
images-missing-recipes.txt
.DS_Store
