# ignore ALL files in ANY directory named ...
fb_files/
fb_recipes/
test_recipes/
scripts/python_scripts/
.vscode/

# ignore these files
*.bak
app.js
template.xml
recipes-missing-images.txt
images-missing-recipes.txt
.DS_Store
