<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>recipe admin</title>
  <link rel="canonical" href="https://cazzscookingcommunity.github.io/add_recipe.html" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- ALL PAGES -->
      <!-- Mata tages.  These are essential for all pages to ensure proper character encoding, 
      viewport settings, and descriptions that may be indexed by search engines.  -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="application-name" content="Cazz's Recipes" />
      <meta name="apple-mobile-web-app-title" content="Cazzs Cooking Community" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta name="description" content="Cazz's Cooking Community website let's you browse the Family's favourite recipes">
      <meta name="author" content="Chris Cullin">

      <!-- Fonts and CSS styling -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/skeleton.css">
      <link rel="stylesheet" href="css/app.css">

      <!-- These should remain for consistent branding and to support web app features across all pages. -->
      <link rel="icon" href="/favicon.ico" sizes="32x32">
      <link rel="icon" href="/components/chef.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/components/app_icon_114x114.png">
      <link rel="manifest" href="/components/manifest.webmanifest">
</head>

<body>
  <main role="main" id="main">

    <!-- scroll to top and back -->
    <div class="goTop">
      <a href="#main" tabindex="-1"><img src="/components/icons_up_24.png" title="Back to top" /></a>
    </div> 


    <!-- HEADER SECTION -->
    <header>  
      <div class="container">

        <div class="row">
          <div class="twelve columns">
            <a class="brand" tabindex="0" href="/index.html" title="Family Favourite Recipes | Cazzs Cooking Community"><h1 class="heading brand">Family Recipe Favourites</h1></a>    
          </div>
        </div> 

        <nav class="navbar">
          <div class="row">
            <div class="twelve columns">
              <ul class="navbar-list" id="navbar-list">
                <li class="navbar-item" id="homeButton"><a href="/index.html">Home</a></li>
                <li class="navbar-item"><a href="/staticAllRecipes.html">All Recipes</a></li>
                <li class="navbar-item"><a href="/components/add_recipe.html">New Recipe</a></li>
                <li class="navbar-item"><a href="javascript:history.back()">Back</a></li>
              </ul>
              <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
              <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div> <!-- row -->
        </nav> <!-- Nav -->

      </div>  <!-- container  -->
    </header>

    <!-- MAIN SECTION -->
    <section>
      <div class="container">
        <div class="row d-flex">
          <div class="twelve columns">
            <h4><small>Create a new recipe</small></h4>
            <p>Tips and Tricks:<br/>
              Step 1:  upload image, Step 2: create new recipe<br/>
              image name is 'name'.jpeg  (avoid spaces to be safe).<br/>
              filemname is 'name.xml'<br/>
              htmlFilename is 'name.html'<br/>
              preptime and cooktook is 'PTxxM or PTxHxxM'<br/>
            </p>
        </div>
        <div class="row d-flex">
          <div class="twelve columns">
            <div id="newRecipe">
              <button onclick="image_upload(document.getElementById('imgFilename').value)">upload image</button>
              <input type="file" id="imgFilename" name="image" accept="image/*">
              <br><br>
          
              <a href=${recipexsd}><button>CREATE NEW RECIPE</button></a>
              <br><br>
            </div>
          </div>
        </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer>
      <a href="https://cazzscookingcommunity.github.io" title="Cazz's Cooking Community"> https://cazzscookingcommunity.github.io</a>
      <br/>
      <img alt="guthub status icon" src="https://github.com/cazzscookingcommunity/cazzscookingcommunity.github.io/actions/workflows/build-recipe-index.yml/badge.svg"/>
          
      <div>
        Icons by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> and <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
      </div>
    </footer>
  </main>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/scripts/add_recipe.js"></script>
<script src="/scripts/github.js"></script>
</html>


