<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/admin.css">

  <title>GitHub passcode prompt</title>


  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('popup').style.display = 'block';

        const passcodeInput = document.getElementById('passcode');
        const form = passcodeInput.closest('form');


        // this prevents autosubmit caused by 1password manager on safari browswer
        form.addEventListener('submit', (event) => {
            // event.preventDefault();
            console.log('Form submission prevented');
        });
    });
</script>



</head>



<body>
    <div id="popup">
        <div>Enter Github Token to upload file
            or cancel to download:</div>
        <br>
        <form onsubmit="set_passcode()" onreset="close_popup()">
            <label id="passcode-label" for="passcode">Github Personal Access Token</label>
            <input id="passcode" type="password"/>
            <input class="button" type="submit"/>  
            <input class="button" type="reset"/>
        </form>
        <!-- <button class="button" type="button" onclick="set_passcode()">upload</button>    
        <button class="button" type="button" onclick="close_popup()">cancel</button>    -->
    </div>
    <div id="commit">
        <div>Committing file to Github.  Please wait.</div>
    </div>
    
</body>

<script>
    function set_passcode() {
        window.opener.console.debug('set passcode called')
        const passcodeEntered = document.getElementById("passcode").value
        window.opener.console.debug(`passcode entered: ${passcodeEntered}`);
        if ( passcodeEntered != null ) {
            var parentwindow = window.opener.document.getElementById("token");
            parentwindow.value = passcodeEntered;
            window.opener.passcode = passcodeEntered;
            window.opener.console.debug(`parent window passcode: ${parentwindow.value}`);

            window.opener.headers = {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=utf-8',
                    'authorization': `Token ${passcodeEntered}`
                }
            // calling function continues after this window closes
            window.close();
        } else {
            window.alert("please enter token or cancel to download recipe or exit");
        }
    }

    function close_popup() { 
        console.debug("cancel pushed");
        console.debug(window.location.pathname);
        window.close();
    }
</script>

</html>