<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/github.css">

  <title>GitHub passcode prompt</title>


  <!-- <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('popup').style.display = 'block';

        const passcodeInput = document.getElementById('passcode');
        const form = passcodeInput.closest('form');

        // this prevents autosubmit caused by 1password manager on safari browswer
        form.addEventListener('submit', (event) => {
            window.opener.console.log('automatic form submission prevented');
            event.preventDefault();
        });
    });
</script> -->



</head>



<body>
    <div id="popup">
        <div>Enter Github Token to upload file.</div>
        <br>
        <form>
            <label id="passcode-label" for="passcode">Github Personal Access Token</label>
            <input id="passcode" type="password"/>

            <input class="button submit" type="button" onclick="set_passcode()" value="Submit">
            <input class="button" type="button" onclick="close_popup()" value="Cancel">
        </form>
    </div>
    <div id="commit">
        <div>Committing file to Github.  Please wait.</div>
    </div>
    
</body>

<script>
    function set_passcode() {
        window.opener.console.debug('popup: set passcode called')
        const passcodeEntered = document.getElementById("passcode").value
        window.opener.console.debug(`popup: passcode entered: ${passcodeEntered}`);
        if ( passcodeEntered ) {
            console.debug("passcode entered: ", passcodeEntered);
            var parentwindow = window.opener.document.getElementById("token");
            parentwindow.value = passcodeEntered;
            window.opener.passcode = passcodeEntered;

            window.opener.headers = {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=utf-8',
                    'authorization': `Token ${passcodeEntered}`
                }
            window.opener.console.debug("popup: passcode entered, popup closing.");
            window.alert(`upload started.  Click 'Close' and wait for process to complete on the previous screen (about 15sec)`);
            window.close();
            
        } else {
            window.opener.console.log("popup: passcode is empty");
            window.alert("please enter token or cancel");
        }
    }

    function close_popup() { 
        window.opener.console.debug("popup: cancel passcode popup");
        window.close();
    }
</script>

</html>