<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>All of Cazz's Favoutie Recipes</title>
  <link rel="canonical" href="https://cazzscookingcommunity.github.io/recipe-all.html" />

  <!-- ALL PAGES -->
      <!-- Mata tages.  These are essential for all pages to ensure proper character encoding, 
      viewport settings, and descriptions that may be indexed by search engines.  -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="application-name" content="Cazz's Recipes" />
      <meta name="apple-mobile-web-app-title" content="Cazzs Cooking Community" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta name="description" content="Cazz's Cooking Community website let's you browse the Family's favourite recipes">
      <meta name="author" content="Chris Cullin">

      <!-- Fonts and CSS styling -->
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link rel="stylesheet" href="/css/common.css">

      <!-- These should remain for consistent branding and to support web app features across all pages. -->
      <link rel="icon" href="/favicon.ico" sizes="32x32">
      <link rel="icon" href="/components/icons/chef.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/components/icons/app_icon_114x114.png">
      <link rel="manifest" href="/manifest.webmanifest">
</head>

<body>
  <main role="main" id="main">

    <!-- scroll to top and back -->
    <div class="goTop">
      <a href="#mealCardsSection" tabindex="-1"><img src="/components/icons/top-arrow-svgrepo-com.svg" title="Scroll to top" /></a>
    </div> 


    <!-- HEADER SECTION -->
    <header>
      <div class="container">

        <div class="row">
          <div class="twelve columns">
            <h1 class="heading brand">All of Cazz's Favourite Recipes</h1>
          </div>
        </div>

        <nav class="navbar">
          <div class="row">
            <div class="twelve columns">
              <ul class="navbar-list" id="navbar-list">
                <li class="navbar-item clearButton"><a href="/index.html">Home</a></li>
                <li class="navbar-item"><a href="/recipe-all.html">All Recipes</a></li>
                <li class="navbar-item"><a href="/recipe-add.html">Create New Recipe</a></li>
                <li class="navbar-item"><a href="javascript:history.back()">Back</a></li>
              </ul>
              <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
              <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div> <!-- row -->
        </nav> <!-- Nav -->

      </div>
    </header>

    <!-- PLACEHOLDER FOR SEARCH RESULTS DISPLAY AS MEAL CARDS.  populated by JS -->
    <section id="mealCardsSection">
      <br/>
      <div class="container">
          <div class="row mealCards d-flex">
            {meal_cards}
          </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer>
      <ul class="footer-links">
          <li>
              <a href="https://www.facebook.com/profile.php?id=100064897085636" target="_blank" rel="noopener noreferrer">
                  <img src="/components/icons/facebook-svgrepo-com.svg" alt="Follow Cazz on Facebook" class="icon">
                  Follow Cazz
              </a>
          </li>
          <li>
              <a href="https://github.com/cazzscookingcommunity/cazzscookingcommunity.github.io" target="_blank" rel="noopener noreferrer">
                  <img src="/components/icons/github-svgrepo-com.svg" alt="GitHub" class="icon">
                  View Source
              </a>
          </li>
          <li>
              <img alt="GitHub status icon" src="https://github.com/cazzscookingcommunity/cazzscookingcommunity.github.io/actions/workflows/build-recipe-index.yml/badge.svg" class="status-icon">
          </li>
      </ul>
    </footer>

  </main>
</body>

<script src="/scripts/common.js"></script>
</html>


